@model HazelClinic3.Models.User1

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div>
    <h3>@Model.Firstname @Model.Lastname</h3>
    <p>Email: @Model.Email</p>
    <p>Phone Number: @Model.Mobile</p>
    <p>Address: @Model.Address</p>
    <p>Postal Code: @Model.PostalCode</p>
</div>