@model HazelClinic3.Models.Appointment
@{
    ViewBag.Title = "AppointmentSuccess";
}

<h2>AppointmentSuccess</h2>

<h2>Details</h2>

<div>
    <h4>Your booking was successful </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PetSpecies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetSpecies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsultationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Corona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rabies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rabies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clostridial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clostridial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leptospirosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leptospirosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brucellosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brucellosis)
        </dd>
    </dl>
</div>

