@model HazelClinic3.Models.Checkout

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .centered-form {
        margin: 0 auto; /* Centers the form horizontally */
        max-width: 500px; /* Adjust the max width as needed */
    }
</style>

<div class="centered-form">
    <h2>Check-Out Below:</h2>
    @using (Html.BeginForm("CheckOut", "CheckOut", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.BookingId, new { @class = "control-label" })
            @Html.EditorFor(model => model.BookingId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookingId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.KennelId, new { @class = "control-label" })
            @Html.EditorFor(model => model.KennelId, new { @class = "form-control", Value = ViewBag.KennelId, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.KennelId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
            @Html.EditorFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
            @Html.EditorFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label" })
            @Html.EditorFor(model => model.ContactNumber, new { @class = "form-control", placeholder = "Contact Number" })
            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.EmergencyContactNumber, new { @class = "control-label" })
            @Html.EditorFor(model => model.EmergencyContactNumber, new { @class = "form-control", placeholder = "Emergency Contact Number" })
            @Html.ValidationMessageFor(model => model.EmergencyContactNumber, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Check Out</button>
    }
</div>

