@model IEnumerable<HazelClinic3.Models.Volunteer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactCellNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerType)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactCellNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.VolunteerId }) |
                @Html.ActionLink("Details", "Details", new { id=item.VolunteerId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.VolunteerId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
